.our_creations
	position relative
	z-index 10

	padding 42px 0 30px 0

	.content_block--header
		margin-bottom 50px

	&--list
		clearfix()
		&--item
			background #fff
			width 310px
			height 416px
			float left
			margin 0 0 35px 35px
			text-align center

			figure
				height 235px
				background #f3f3f3
				overflow hidden
				margin 0 0 22px

				img
					max-width 100%
					display block

			h3
				font-size 22px
				margin 0 0 9px
				
			p
				font-size 14px
				opacity .6
				margin 0 20px 11px
				line-height 17px
				min-height 51px


			.cl-btn
				font-size 13px

		&--item:nth-child(3n+1)
			margin-left 0

	&--footer
		text-align center
		padding 10px 0
		.cl-btn.m-yellow
			shadow(0 4px 0 #e6e6e6)
