.products
	position relative
	z-index 10
	padding 38px 0 30px 0

	.content_block--header
		margin 0 0 25px
	&--promo
		borderbox()
		position relative
		background #fff
		clearfix()
		padding 0
		margin 0 0 13px

		.bx-wrapper
			padding 0 0 40px

			.bx-controls
				.bx-controls-direction
					.bx-prev
					.bx-next
						width 24px
						height 43px
						margin-top -21px
					.bx-prev
						products-promo-larr()
						left -74px
					.bx-next
						products-promo-rarr()
						right -74px

			.bx-pager
				bottom 20px
