.send_message
	padding 70px 0 40px
	
	.content_block--header
		margin 0 0 58px
	&--form
		width 690px
		margin 0 auto
		&--row
			margin 0 0 20px
			clearfix()

			.cl-input_wrap
				float left
				margin 0 0 0 20px

				.cl-input
					padding-right 40px

			.cl-input_wrap:first-child
				margin 0

		&--text
			height 153px

			textarea
				height 129px

		&--footer
			text-align center
			padding 20px 0 0 0
			height 74px

			.cl-btn
				shadow(0 4px 0 #017cd3)

		&--send_again
			display none

		&--success
			display none
			height 222px
			font-size 20px
			line-height 26px
			margin 8px 0 20px 0
			text-align center

