@font-face
	font-family 'Circe-Bold'
	src url('./fonts/Circe-Bold.eot?') format('eot'), 
		url('./fonts/Circe-Bold.otf')  format('opentype'),
		url('./fonts/Circe-Bold.woff') format('woff'), 
		url('./fonts/Circe-Bold.ttf')  format('truetype'),
		url('./fonts/Circe-Bold.svg#Circe-Bold') format('svg')

@font-face
	font-family 'Circe-ExtraBold'
	src url('./fonts/Circe-ExtraBold.eot?') format('eot'), 
		url('./fonts/Circe-ExtraBold.otf')  format('opentype'),
		url('./fonts/Circe-ExtraBold.woff') format('woff'), 
		url('./fonts/Circe-ExtraBold.ttf')  format('truetype'),
		url('./fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg')

@font-face
	font-family 'Circe-ExtraLight'
	src url('./fonts/Circe-ExtraLight.eot?') format('eot'), 
		url('./fonts/Circe-ExtraLight.otf')  format('opentype'),
		url('./fonts/Circe-ExtraLight.woff') format('woff'), 
		url('./fonts/Circe-ExtraLight.ttf')  format('truetype'),
		url('./fonts/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg')

@font-face
	font-family 'Circe-Light'
	src url('./fonts/Circe-Light.eot?') format('eot'), 
		url('./fonts/Circe-Light.otf')  format('opentype'),
		url('./fonts/Circe-Light.woff') format('woff'), 
		url('./fonts/Circe-Light.ttf')  format('truetype'),
		url('./fonts/Circe-Light.svg#Circe-Light') format('svg')

@font-face
	font-family 'Circe-Regular'
	src url('./fonts/Circe-Regular.eot?') format('eot'), 
		url('./fonts/Circe-Regular.otf')  format('opentype'),
		url('./fonts/Circe-Regular.woff') format('woff'), 
		url('./fonts/Circe-Regular.ttf')  format('truetype'),
		url('./fonts/Circe-Regular.svg#Circe-Regular') format('svg')

@font-face
	font-family 'WisdomScriptAI'
	src url('./fonts/WisdomScriptAI.eot?') format('eot'), 
		url('./fonts/WisdomScriptAI.otf')  format('opentype'),
		url('./fonts/WisdomScriptAI.woff') format('woff'), 
		url('./fonts/WisdomScriptAI.ttf')  format('truetype'),
		url('./fonts/WisdomScriptAI.svg#WisdomScriptAI') format('svg')

@font-face
	font-family 'Droid Sans Bold'
	src url('./fonts/droidsans-bold-webfont.eot')
	src url('./fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/droidsans-bold-webfont.woff') format('woff'),
		url('./fonts/droidsans-bold-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Droid Sans'
	src url('./fonts/droidsans-webfont.eot')
	src url('./fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/droidsans-webfont.woff') format('woff'),
		url('./fonts/droidsans-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal
