// http://ikspriter.herokuapp.com/

.sprite 
	background url("./i/sprite.png") no-repeat

btn-amazon(x = 0, y = 0)
	@extend .sprite
	background-position (0 + x) (0 + y)

btn-gplay(x = 0, y = 0)
	@extend .sprite
	background-position (0 + x) (-47px + y)

btn-astore(x = 0, y = 0)
	@extend .sprite
	background-position (0 + x) (-94px + y)

game-video-btn(x = 0, y = 0)
	@extend .sprite
	background-position (-176px + x) (0 + y)

products-promo-larr(x = 0, y = 0)
	@extend .sprite
	background-position (-139px + x) (-94px + y)

products-promo-rarr(x = 0, y = 0)
	@extend .sprite
	background-position (0 + x) (-141px + y)

promo-banner-next(x = 0, y = 0)
	@extend .sprite
	background-position (-25px + x) (-141px + y)

promo-banner-prev(x = 0, y = 0)
	@extend .sprite
	background-position (-50px + x) (-141px + y)

promo-banner-next-hover(x = 0, y = 0)
	@extend .sprite
	background-position (-75px + x) (-141px + y)

promo-banner-prev-hover(x = 0, y = 0)
	@extend .sprite
	background-position (-100px + x) (-141px + y)

header-cart-ico(x = 0, y = 0)
	@extend .sprite
	background-position (-176px + x) (-101px + y)

header-cart-ico-active(x = 0, y = 0)
	@extend .sprite
	background-position (-204px + x) (-101px + y)

add-to-cart(x = 0, y = 0)
	@extend .sprite
	background-position (-232px + x) (-101px + y)

download-pdf(x = 0, y = 0)
	@extend .sprite
	background-position (-125px + x) (-141px + y)

sizes-nav(x = 0, y = 0)
	@extend .sprite
	background-position (-254px + x) (-101px + y)

slider-nav-play(x = 0, y = 0)
	@extend .sprite
	background-position (-176px + x) (-122px + y)
