@import './common/reset'
@import './common/fonts'
@import './common/mixins'
@import './common/globals'
@import './common/sprite'
@import './common/base'
@import './common/framework'


// VENDOR
@import './vendor/bxslider.styl'

@import './blocks/header'
@import './blocks/content_block'
@import './blocks/latest_games'
@import './blocks/our_products'
@import './blocks/our_characters'
@import './blocks/promo_banner'
@import './blocks/footer'

@import './blocks/plan'
@import './blocks/feedback'
@import './blocks/last_tweet'
@import './blocks/about'
@import './blocks/send_message'
@import './blocks/cart'
@import './blocks/product'
@import './blocks/products'
@import './blocks/page_nav'
@import './blocks/our_creations'
@import './blocks/wallpapers'
@import './blocks/character'
@import './blocks/wide_banner'
@import './blocks/latest_game'
@import './blocks/game'
@import './blocks/mouse_parallax'
